* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
}

main {
    background-color: hsl(216, 12%, 8%);
    padding: 8rem 2rem;
}

.container {
    background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    border-radius: 9px;
    gap: 2rem;
}

.star {
    background-color: #33383d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.star img {
    width: 1.2rem;
    height: 1.2rem;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.6rem;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 2.5rem;
    font-weight: 700;
}

p {
    font-size: 1.5rem;
    color: hsl(217, 12%, 63%);
    text-align: left;
    
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
}

.btn-nm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    padding: 1rem 1.5rem;
    border-radius: 50% 50% 50% 50%;
    border: none;
    background-color: hsla(214, 4%, 31%, 0.4);
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    cursor: pointer;
}

.button:hover {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.selected-button {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.sub {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-btn {
    padding: 1rem 10rem;
    border-radius: 17px;
    border: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: hsl(0, 10%, 88%);
    background-color: hsl(25, 97%, 53%);
    font-weight: 700;
    cursor: pointer;
}

.sub-btn:hover {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}

/* .greyout {
    background-color: rgb(84, 86, 81);
} */


.reply-container {
    background-color: hsl(213, 19%, 18%);
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 9px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reply-container p {
    text-align: center;
}

.rep-p {
    color: hsl(25, 97%, 53%);
    background-color: #33383d;
    border-radius: 15px;
    padding: 0.8rem 1rem;
}



footer {
    background-color: #35383a;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.attribution {
    font-size: 1.2rem;
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.attribution a {
    color: hsl(25, 97%, 53%);
}

.attribution a:hover {
    color: #fff;
}

.hidden {
    display: none;
}

@media screen and (max-width: 625px) {
    footer {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 500px) {
    .container, 
    .reply-container {
        max-width: 50rem;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sub-btn {
        width: 90%;
        margin-top: 3rem;
    }
}

